ul li{
    list-style-type:none;
}

nav{
    background-color: #000000;
    }
    
nav a{
    color:#FFFFFF;
    margin-right: 15px;
    text-decoration: none;
}

nav ul{
    display:inline;
}

nav li{
    display:inline-block;
}