main > ul{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

main > ul >li {
    width:33%;
}

@media only screen and (max-width: 800px) {
    
    main > ul >li {
    width:50%;}
}

@media only screen and (max-width: 600px) {
    
    main > ul >li {
        width:100%;}
}
   
    
