main > ul{
    display:grid;
    grid-template:"aa aa aa"1fr
    "aa aa aa" 1fr 
    "aa aa aa" 1fr /
    1fr 1fr 1fr;
    
}


main > li{
   
    grid-area:aa;
    
}

@media only screen and (max-width: 800px) {
    
    main > ul{
    display:grid;
    grid-template:"aa aa"1fr
    "aa aa " 1fr 
    "aa aa"1fr
    "aa aa"1fr
    "aa aa"1fr
    "aa aa " 1fr /
    1fr 1fr;
    
}


}

@media only screen and (max-width: 600px) {
    
    main > ul{
    display:grid;
    grid-template:"aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
   "aa"1fr
    "aa" 1fr /
    1fr;
    
}
}
   